doctype html
html(lang="en" dir="ltr")
head
meta(charset="utf-8")
meta(name="description" content=metaDescription || "MaMo TechnoLabs is a leading software, web and mobile app development company in Vadodara delivering custom IT solutions to grow your business.")
meta(name="abstract" content="Mamo Technologies empowers businesses through technology, with custom software development, AI/ML, IoT, and blockchain solutions.")
if focusKeywords && focusKeywords.length > 0
  meta(name="keywords" content=focusKeywords.join(', '))
else
  meta(name="keywords" content="Mamo Technologies")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
if canonicalUrl
  link(rel="canonical" href=canonicalUrl)
link(rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon")
title= metaTitle ? metaTitle : (title ? `${title} | MaMo TechnoLabs` : 'MaMo TechnoLabs | Software & Web Development Vadodara')
link(rel="stylesheet" media="all" href="/css/style.css")
link(rel="stylesheet" media="all" href="/css/style.css")

link(rel="stylesheet" href="/css/mobile-menu-fix.css")
script(async src="https://www.googletagmanager.com/gtag/js?id=G-1BESF224BJ")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-1BESF224BJ');
body(class=bodyClass || 'path-frontpage page-node-type-static-pages')
a.visually-hidden.focusable.skip-link(href="#main-content") Skip to main content

include partials/header

main.main
.dialog-off-canvas-main-canvas(data-off-canvas-main-canvas="")
.layout-container
block content

include partials/footer


script(src="/js/js/jquery.min.js")
script(src="/js/bootstrap.bundle.min.js")
script(src="/js/once.min.js")
script(src="/js/gsap.min.js")
script(src="/js/lottie-player.js")
script(src="/js/global.js")
script(src="/js/custom.js")
script(src="/js/js/swiper-bundle.min.js")
script(src="/js/js/scrollCue.min.js")
script(src="/js/js/simpleParallax.min.js")
script(src="/js/js/fslightbox.min.js")
script(src="/js/js/SplitText.min.js")
script(src="/js/js/main.js")
