doctype html
head
  meta(charset='utf-8')
  meta(name='description' content='Mamo TechnoLabs offers creative packaging design services in India to make your product stand out with attractive, brand-focused designs.\
  ')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' href='images/favicon.ico' type='image/vnd.microsoft.icon')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css')
  title
    | Packaging Design Company in India | Mamo Technolabs
  link(rel='stylesheet' media='all' href='css/style.css')
  link(rel='stylesheet' media='all' href='css/style.css')

  script.
    window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-1BESF224BJ');
  // Link of CSS Files
  link(rel='stylesheet' href='css/css/swiper-bundle.min.css')

  
  link(rel='stylesheet' href='css/css/scrollCue.min.css')
  link(rel='stylesheet' href='css/css/style.css')
  
a.visually-hidden.focusable.skip-link(href='#main-content')
  | Skip to main content
.common-header-wrapper
  header.common-header
    .container
      .row.align-items-center
        .col-md-2.col-lg-2.col-6
          a.logo-a(href='/')
            img(src='images/logo.png' alt='Mamo  log')
        .col-md-7.col-lg-8.col-3.common-header-col-outer
          #menu.hide-mobile.show-desktop
            ul.common-header-ul
              li.dropdown.mega-dropdown
                a.dropdown-toggle(href='#' data-bs-toggle='dropdown' data-bs-auto-close='outside' aria-expanded='false')
                  | What we do
                  i.ph-caret-down
                .dropdown-menu.mega-dropdown-menu
                  .container
                    .row
                      .col-md-4.link-col-left
                        #v-pills-tab.nav-pills(href='#' role='tablist' aria-orientation='vertical')
                          //
                            <a class="nav-link-a active"
                            href="overview.html">Overview </a>
                          a#v-pills-services-tab.nav-link-a(href='#' data-bs-toggle='pill' data-bs-target='#v-pills-services' type='button' role='tab' aria-controls='v-pills-services' aria-selected='false')  Development &amp; Engineering Services 
                          a#v-pills-industry-tab.nav-link-a(href='#' data-bs-toggle='pill' data-bs-target='#v-pills-industry' type='button' role='tab' aria-controls='v-pills-industry' aria-selected='false') Business, Growth &amp; Support Services 
                          a#v-pills-products-tab.nav-link-a(href='about-us' data-bs-toggle='pill' data-bs-target='#v-pills-products' type='button' role='tab' aria-controls='v-pills-products' aria-selected='false') About Us
                      .col-md-8.link-col-right
                        #v-pills-tabContent.tab-content
                          #v-pills-overview.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-overview-tab' tabindex='0')
                            .menu-para
                              h6 Start Your Digital Transformation.
                              p.para
                                | Calling India home, while transforming stories in 50+ countries, Mamo has helped industry leaders innovate ahead for 20+ years, leveraging the best, most robust, and the most exciting digital technologies out there. Here&rsquo;s our story.
                              p
                                a.know-more-btn(href='about-us')
                                  | Know
                                  | More
                          #v-pills-services.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-services-tab' tabindex='0')
                            .menu-para
                              h6 Development &amp; Engineering Services
                              .row
                                .col-md-6
                                  .menu-para-col
                                    a.nav-link-b(href='software-development')  Software Development&ZeroWidthSpace; 
                                    a.nav-link-b(href='website-development')  Web App Development 
                                    a.nav-link-b(href='custom-app') Custom Mobile App Development
                                .col-md-6
                                  .menu-para-col
                                    a.nav-link-b(href='frontend-development')
                                      | Frontend Development
                                    a.nav-link-b(href='webporttal.html')  Web Portal Development
                                    a.nav-link-b(href='qa-testing')  QA and Software Testing
                          #v-pills-industry.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-industry-tab' tabindex='0')
                            .menu-para
                              h6 Business, Growth &amp; Support Services
                              .row
                                .col-md-6
                                  .menu-para-col
                                    a.nav-link-b(href='itstaff-augmentation')  IT Staff Augmentation 
                                    a.nav-link-b(href='digital-transformation')  Digital Marketing Services
                                .col-md-6
                                  .menu-para-col
                                    a.nav-link-b(href='virtual-assistant-services')
                                      | Virtual Assistant Services
                                    a.nav-link-b(href='packaging-design') Packaging Design Services
                          #v-pills-products.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-products-tab' tabindex='0')
              //
                <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false">Who we are<i
                class="ph-caret-down"></i></a>
                <div class="dropdown-menu mega-dropdown-menu">
                <div class="container">
                <div class="row">
                <div class="col-md-4 link-col-left">
                <div class="nav-pills" id="a-pills-tab" href="#" role="tablist"
                aria-orientation="vertical">
                <p><a class="nav-link-a active" href="about-us">About Us </a><a
                class="nav-link-a" href="careers-life-at-Mamo.html">Life
                at Mamo </a></p>
                <p><a class="nav-link-a careers-life-btn-a"
                href="careers-life-at-Mamo.html#contact-form-sect.html">Careers</a>
                </p>
                <p><a class="nav-link-a"
                href="corporate-social-responsibility.html">Corporate Social
                Responsibility </a><a class="nav-link-a"
                href="contact">Contact Us </a></p>
                </div>
                </div>
                <div class="col-md-8 link-col-right">
                <div class="tab-content" id="a-pills-tabContent">
                <div class="tab-pane fade show active" id="a-pills-about-us"
                role="tabpanel" aria-labelledby="a-pills-about-us-tab"
                tabindex="0">
                <div class="menu-para">
                <h6>About Mamo </h6>
                <p class="para">Calling India home, while transforming
                stories in 50+ countries, Mamo  has helped industry
                leaders innovate ahead for 20+ years, leveraging the
                best, most robust, and the most exciting digital
                technologies out there. Here’s our story.</p>
                <p><a class="know-more-btn" href="about-us">Know
                More</a></p>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </li>
              li.dropdown.mega-dropdown
                a.dropdown-toggle(href='#' data-bs-toggle='dropdown' data-bs-auto-close='outside' aria-expanded='false')
                  | Blog
                  i.ph-caret-down
                .dropdown-menu.mega-dropdown-menu
                  .container
                    .row
                      .col-md-4.link-col-left
                        #b-pills-tab.nav-pills(role='tablist' aria-orientation='vertical')
                          a#b-pills-about-us-tab.nav-link-a.active(href='blog' type='button' role='tab' aria-controls='b-pills-about-us' aria-selected='true') Blog 
                      .col-md-8.link-col-right
                        #b-pills-tabContent.tab-content
                          #b-pills-about-us.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='b-pills-about-us-tab' tabindex='0')
                            .menu-para
                              .row.row-adj
                                h6 Our Blogs 
                                br
                                p.para
                                  | At MaMo Technolabs, we share expert insights on software development,
                                  | web technologies, business growth, and digital innovation.
                                  | Explore our blogs to stay updated with the latest trends, strategies, and practical guides for building smarter solutions.
        .col-md-3.col-lg-2.col-3
          .right-side-menu-w
            .btn-row.hide-mobile
              div
                a.btn-click(href='contact')
                  div
                  div
                    button.btoptop Contact Us
            .hide-desktop.show-mobile
              a(href='#')
                #toggle.toggle-menu
                  .one
                  .two
                  .three
  .block.block-block-content.block-block-content03dabb50-afb4-4728-bab3-6eadb5bb7223
    .hide-desktop.show-mobile
      .mobile-menu(style='display:none;')
        nav#column_left
          ul.nav-list
            li
              a.accordion-heading(data-bs-toggle='collapse' data-bs-target='#submenu1' aria-expanded='false') What we do&nbsp;
              ul#submenu1.nav-list.collapse(aria-expanded='false')
                li
                  // <a href="overview.html">Overview</a>
                li
                  a(data-bs-toggle='collapse' data-bs-target='#submenu2' aria-expanded='false') Development &amp; Engineering Services 
                  ul#submenu2.nav-list.collapse(aria-expanded='false')
                    li
                      a(href='software-development') Software Development
                    li
                      a(href='website-development')
                        | Web App Development
                    li
                      a(href='custom-app')
                        | Custom Mobile App Development
                    li
                      a(href='frontend-development')
                        | Frontend Development
                    li
                      a(href='webporttal.html')
                        | Web Portal Development
                    li
                      a(href='qa-testing')
                        | QA and Software Testing
                li
                  a(data-bs-toggle='collapse' data-bs-target='#submenu3' aria-expanded='false') Business, Growth &amp; Support Services 
                  ul#submenu3.nav-list.collapse(aria-expanded='false')
                    li
                      a(href='itstaff-augmentation') IT Staff Augmentation
                    li
                      a(href='digital-transformation')
                        | Digital Marketing Services
                    li
                      a(href='virtual-assistant-services')
                        | Virtual Assistant Services
                    li
                      a(href='packaging-design')
                        | Packaging Design Services
                li
                  a(data-bs-toggle='collapse' data-bs-target='#submenu4' aria-expanded='false') About us
                  p.para
                    | Calling India home, while transforming stories in
                    | 50+ countries, Mamo  has helped industry leaders innovate ahead
                    | for 20+ years, leveraging the best, most robust, and the most
                    | exciting digital technologies out there. Here&rsquo;s our story.
                  p
                    a.know-more-btn(href='about-us') Know More
            //
              <li><a class="accordion-heading" data-bs-toggle="collapse" data-bs-target="#submenu21"
              aria-expanded="false">Who we are </a>
              <ul class="nav-list collapse" id="submenu21" aria-expanded="false">
              <li><a href="about-us">About Us</a></li>
              <li><a href="careers-life-at-Mamo.html">Life at Mamo </a></li>
              <li><a href="careers-life-at-Mamo.html #contact-form-sect" target="_blank">Careers</a>
              </li>
              <li><a href="corporate-social-responsibility.html">Corporate Social Responsibility</a>
              </li>
              <li><a href="contact">Contact Us</a></li>
              </ul>
              </li>
            li
              a.accordion-heading(data-bs-toggle='collapse' data-bs-target='#submenu31' aria-expanded='false') Blog&nbsp;
              ul#submenu31.nav-list.collapse(aria-expanded='false')
                li
                  a(href='blog') Blog
          div(style='margin-top: 10px; padding: 10px 130px;')
            a(href='/contact' style='display: block; text-align: center; background-color: white; color: black; padding: 15px 40px; border: 2px solid black; border-radius: 40px; text-decoration: none; font-weight: 600; font-size: 16px;') Contact Us
main.main
  .dialog-off-canvas-main-canvas(data-off-canvas-main-canvas='')
    .layout-container
      header(role='banner')
        div
          .dropdown-menu.mega-dropdown-menu
            .container
              .row
                .col-md-4.link-col-left
                  #v-pills-tab.nav-pills(href='#' role='tablist' aria-orientation='vertical')
                    //
                      <a class="nav-link-a active"
                      href="overview.html">Overview </a>
                    a#v-pills-services-tab.nav-link-a(href='#' data-bs-toggle='pill' data-bs-target='#v-pills-services' type='button' role='tab' aria-controls='v-pills-services' aria-selected='false')
                      | Development &amp; Engineering Services
                    a#v-pills-industry-tab.nav-link-a(href='#' data-bs-toggle='pill' data-bs-target='#v-pills-industry' type='button' role='tab' aria-controls='v-pills-industry' aria-selected='false') Business, Growth &amp; Support services 
                    a#v-pills-products-tab.nav-link-a(href='#' data-bs-toggle='pill' data-bs-target='#v-pills-products' type='button' role='tab' aria-controls='v-pills-products' aria-selected='false') About Us 
                .col-md-8.link-col-right
                  #v-pills-tabContent.tab-content
                    #v-pills-overview.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-overview-tab' tabindex='0')
                      .menu-para
                        h6 We build the change that&apos;s needed
                        p.para
                          | Discover how Mamo , a global tech innovator, excels
                          | in leveraging emerging technologies such as AI/ML, Fintech,
                          | Blockchain, and Machine Learning to revolutionize industries and
                          | enhance business efficiency worldwide.
                        p
                          a.know-more-btn(href='overview.html') Know More
                    #v-pills-services.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-services-tab' tabindex='0')
                      .menu-para
                        h6 Development &amp; Engineering Services
                        .row
                          .col-md-6
                            .menu-para-col
                              a.nav-link-b(href='software-development') Software Development 
                              a.nav-link-b(href='website-development')
                                | Web App Development
                              a.nav-link-b(href='custom-app')
                                | Custom Mobile App Development
                          .col-md-6
                            .menu-para-col
                              a.nav-link-b(href='frontend-development') Frontend Development
                              a.nav-link-b(href='webporttal.html') Web Portal Development
                              a.nav-link-b(href='qa-testing')
                                | QA and Software Testing
                    #v-pills-industry.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-industry-tab' tabindex='0')
                      .menu-para
                        h6 Business , Growth &amp; Support Services
                        .row
                          .col-md-6
                            .menu-para-col
                              a.nav-link-b(href='itstaff-augmentation')
                                | IT Staff Augmentation
                              a.nav-link-b(href='digital-transformation')
                                | Digital Marketing Services
                              a.nav-link-b(href='virtual-assistant-services')
                                | Virtual Assistant Services
                              a.nav-link-b(href='packaging-design')
                                | Packaging Design Services
                    #v-pills-products.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-products-tab' tabindex='0')
                      .menu-para
                        h6 Homegrown AI/ML industry platforms
                        .row
                          .col-md-6
                            .menu-para-col
                              a.nav-link-b(href='https://predictsense.io/' target='_blank') PredictSense&nbsp;
                              a.nav-link-b(href='https://iotsense.io/' target='_blank') IoTSense 
                              a.nav-link-b.cursor-not-allowed(style='opacity:0;visibility:hidden;' href='#')
                                | VisionSense 
                                span.we-re-hiring Coming soon
          .dropdown-menu.mega-dropdown-menu
            .container
              .row
                .col-md-4.link-col-left
                  #a-pills-tab.nav-pills(href='#' role='tablist' aria-orientation='vertical')
                    p
                      a.nav-link-a.active(href='about-us') About Us 
                      a.nav-link-a(href='careers-life-at-Mamo.html ') Life at Mamo 
                    p
                      a.nav-link-a.careers-life-btn-a(href='careers-life-at-Mamo.html #contact-form-sect.html') Careers
                    p
                      a.nav-link-a(href='corporate-social-responsibility.html')
                        | Corporate
                        | Social Responsibility
                      a.nav-link-a(href='contact') Contact Us&nbsp;
                .col-md-8.link-col-right
                  #a-pills-tabContent.tab-content
                    #a-pills-about-us.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='a-pills-about-us-tab' tabindex='0')
                      .menu-para
                        h6 About Mamo 
                        p.para
                          | Calling India home, while transforming stories in
                          | 50+ countries, Mamo  has helped industry leaders innovate ahead
                          | for 20+ years, leveraging the best, most robust, and the most
                          | exciting digital technologies out there. Here&rsquo;s our story.
                        p
                          a.know-more-btn(href='about-us') Know More
          .dropdown-menu.mega-dropdown-menu
            .container
              .row
                .col-md-4.link-col-left
                  #b-pills-tab.nav-pills(role='tablist' aria-orientation='vertical')
                    a#b-pills-about-us-tab.nav-link-a.active(href='Mamo -articles.html' type='button' role='tab' aria-controls='b-pills-about-us' aria-selected='true') Articles and Blog Report 
                    a.nav-link-a(href='latest-news-and-events.html')
                      | Newsroom and Events
                    a.nav-link-a(href='case-studies.html') Case Studies&nbsp;
                .col-md-8.link-col-right
                  #b-pills-tabContent.tab-content
                    #b-pills-about-us.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='b-pills-about-us-tab' tabindex='0')
                      .menu-para
                        .row.row-adj
                          .col-md-6
                            .menu-card-h
                              .tag-a
                                a(href='Mamo -articles/predictsense-revolutionizing-decision-making-in-banking.html')
                                  span FINTECH
                              p.para
                                a(href='Mamo -articles/predictsense-revolutionizing-decision-making-in-banking.html')
                                  | Revolutionizing
                                  | Decision Making in Banking
                          .col-md-6
                            .menu-card-h
                              .tag-a
                                a(href='Mamo -articles/why-credit-card-companies-must-deploy-ai-for-fraud-prevention.html')
                                  span FINTECH
                              p.para
                                a(href='Mamo -articles/why-credit-card-companies-must-deploy-ai-for-fraud-prevention.html')
                                  | Why
                                  | Credit Card Companies must Deploy AI Fraud
                                  | Prevention?
          .hide-desktop.show-mobile
            .mobile-menu(style='display:none;')
              nav#column_left
                ul.nav-list
                  li
                    a.accordion-heading(data-bs-toggle='collapse' data-bs-target='#submenu1' aria-expanded='false') What we do&nbsp;
                    ul#submenu1.nav-list.collapse(aria-expanded='false')
                      li
                        a(href='overview.html') Overview
                      li
                        a(data-bs-toggle='collapse' data-bs-target='#submenu2' aria-expanded='false') Capabilities&nbsp;
                        ul#submenu2.nav-list.collapse(aria-expanded='false')
                          li
                            a(href='services/ai-ml.html')
                              | Artificial Intelligence and
                              | Machine Learning
                          li
                            a(href='services/global-capability-center.html')
                              | Global
                              | Capability Center
                          li
                            a(href='services/digital-transformation.html')
                              | Digital
                              | Transformation
                          li
                            a(href='services/cybersecurity.html') Cybersecurity
                          li
                            a(href='services/Mamo -design-studio.html')
                              | Mamo  Design
                              | Studio
                      li
                        a(data-bs-toggle='collapse' data-bs-target='#submenu3' aria-expanded='false') Industries&nbsp;
                        ul#submenu3.nav-list.collapse(aria-expanded='false')
                          li
                            a(href='industries/banking-fintech.html')
                              | Banking and
                              | Fintech
                          li
                            a(href='industries/insurance-insurtech.html')
                              | Insurance and
                              | InsurTech
                          li
                            a(href='industries/emerging-tech-startups.html')
                              | Emerging Tech
                              | Startups
                      li
                        a(data-bs-toggle='collapse' data-bs-target='#submenu4' aria-expanded='false') Products&nbsp;
                        ul#submenu4.nav-list.collapse(aria-expanded='false')
                          li
                            a(href='https://iotsense.io/' target='_blank') IoTSense
                          li
                            a(href='https://predictsense.io/' target='_blank') PredictSense
                  //
                    <li><a class="accordion-heading" data-bs-toggle="collapse"
                    data-bs-target="#submenu21" aria-expanded="false">Who we are </a>
                    <ul class="nav-list collapse" id="submenu21" aria-expanded="false">
                    <li><a href="about-us">About Us</a></li>
                    <li><a href="careers-life-at-Mamo.html ">Life at Mamo </a></li>
                    <li><a href="careers-life-at-Mamo.html #contact-form-sect"
                    target="_blank">Careers</a></li>
                    <li><a href="corporate-social-responsibility.html">Corporate Social
                    Responsibility</a></li>
                    <li><a href="contact">Contact Us</a></li>
                    </ul>
                    </li>
                  li
                    a.accordion-heading(data-bs-toggle='collapse' data-bs-target='#submenu31' aria-expanded='false') Blog&nbsp;
                    ul#submenu31.nav-list.collapse(aria-expanded='false')
                      li
                        a(href='latest-news-and-events.html') Newsroom and Events
                      li
                        a(href='Mamo -articles.html') Articles and Blog Report
                      li
                        a(href='case-studies.html') Case Studies
      // Start Page Banner Area
      .page-banner-area
        .container-fluid
          .row.justify-content-center.align-items-center.g-4(data-cues='slideInUp' data-duration='1000')
            .col-xl-8.col-md-12
              .page-banner-content
                .content.section-title-animation.animation-style
                  h2.title-animation Packaging Design Services
                  ul.list
                    li
                      a(href='/') Home
                    li Packaging Design Services
                .image
                  img(src='images/page-banner10.png' alt='image')
            .col-xl-4.col-md-12
              .page-banner-right-content
                .wrap-image
                  img(src='images/favicon.ico' alt='image')
                .wrap-content
                  p
                    | Good packaging doesn&rsquo;t just protect your product  it sells it. Our packaging designers create eye-catching designs that connect with customers and build brand trust.
                  ul.list
                    li
                      span Follow Us:
                    li
                      a(href='https://www.facebook.com/p/MaMo-Technolabs-LLP-61551035098279/' target='_blank')
                        // <i class="ri-facebook-fill"></i>
                        i.fa-brands.fa-facebook
                    li
                      a(href='https://www.instagram.com/mamotechnolabs?igsh=MTlweHh5dTRuOGZnMA==' target='_blank')
                        // <i class="ri-twitter-x-line"></i>
                        i.fa-brands.fa-instagram
                    li
                      a(href='https://www.linkedin.com/company/mamotechnolabs/posts/?feedView=all' target='_blank')
                        // <i class="ri-linkedin-fill"></i>
                        i.fa-brands.fa-linkedin
      // End Page Banner Area
      // Start Outsourcing Services Area
      .outsourcing-services-area.wrap-style.ptb-120
        .container
          .section-title.text-center.section-title-animation.animation-style3
            h2.title-animation(style='max-width: 1100px; margin: auto;')
              | Packaging Design Company in India for 
              span Strong Brand Identity
          .outsourcing-services-items(data-cues='slideInUp' data-duration='1000')
            .item
              .row.justify-content-center.g-4
                .col-lg-6.col-md-12
                  .services-content
                    .number 01
                    h3
                      a(href='') Product Packaging Design
                    p We design packaging that attracts buyers.
                    ul.list
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-file-invoice
                        span Market-focused designs
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-scale-balanced
                        span Brand alignment
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-globe
                        span Retail-ready layouts
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-landmark
                        span Visual appeal
                    //
                      <div class="service-btn">
                      <a href="" class="default-btn">Learn More</a>
                      </div>
                .col-lg-6.col-md-12
                  .services-image.h-100
                    a(href='')
                      img.object-fit-cover.h-100(src='images/service8.png' alt='image')
            .item
              .row.justify-content-center.g-4
                .col-lg-6.col-md-12
                  .services-content
                    .number 02
                    h3
                      a(href='') Label Design
                    p Clean and professional product labels.
                    ul.list
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-heart-pulse
                        span Product details
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-person-booth
                        span Brand styling
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-eye
                        span Print accuracy
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-hand-holding-medical
                        span Compliance
                    //
                      <div class="service-btn">
                      <a href="" class="default-btn">Learn More</a>
                      </div>
                .col-lg-6.col-md-12
                  .services-image.h-100
                    a(href='')
                      img.object-fit-cover.h-100(src='images/service9.png' alt='image')
            .item
              .row.justify-content-center.g-4
                .col-lg-6.col-md-12
                  .services-content
                    .number 03
                    h3
                      a(href='') Box &amp; Wrapper Design
                    p Packaging that looks great on shelves.
                    ul.list
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-file-pen
                        span Box layouts
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-user-check
                        span Wrapper design
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-user-shield
                        span Print optimization
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-door-open
                        span Material support
                    //
                      <div class="service-btn">
                      <a href="" class="default-btn">Learn More</a>
                      </div>
                .col-lg-6.col-md-12
                  .services-image.h-100
                    a(href='')
                      img.object-fit-cover.h-100(src='images/service10.png' alt='image')
            .item
              .row.justify-content-center.g-4
                .col-lg-6.col-md-12
                  .services-content
                    .number 04
                    h3
                      a(href='') Print-Ready Artwork
                    p Files ready for production.
                    ul.list
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-file-signature
                        span High-resolution formats
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-file-circle-check
                        span Color accuracy
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-scale-balanced
                        span Printer-friendly
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-helmet-safety
                        span Error-free layouts
                    //
                      <div class="service-btn">
                      <a href="" class="default-btn">Learn More</a>
                      </div>
                .col-lg-6.col-md-12
                  .services-image.h-100
                    a(href='')
                      img.object-fit-cover.h-100(src='images/service11.png' alt='image')
            .item
              .row.justify-content-center.g-4
                .col-lg-6.col-md-12
                  .services-content
                    .number 05
                    h3
                      a(href='') Brand-Based Packaging
                    p Designs that match your brand.
                    ul.list
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-bullseye
                        span Logo integration
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-arrows-rotate
                        span Color themes
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-star
                        span Consistent look
                      li
                        // <i class="ri-check-line"></i>
                        i.fa-solid.fa-diagram-project
                        span Professional finish
                    //
                      <div class="service-btn">
                      <a href="" class="default-btn">Learn More</a>
                      </div>
                .col-lg-6.col-md-12
                  .services-image.h-100
                    a(href='')
                      img.object-fit-cover.h-100(src='images/service12.png' alt='image')
      // End Outsourcing Services Area
      // Start Consulting Choose Area
      .consulting-choose-area.ptb-120
        .container
          .row.justify-content-center.g-4(data-cues='fadeIn' data-duration='1000')
            .col-lg-5.col-md-12
              .consulting-choose-content.section-title-animation.animation-style3
                span.sub Why Choose MaMo
                h2.title-animation Why Choose MaMo for Packaging Design in India
                img(src='images/choose2.png' alt='image')
            .col-lg-7.col-md-12
              .consulting-choose-items
                .item
                  .icon
                    // <i class="flaticon-solution"></i>
                    i.fa-solid.fa-sliders.fa-sm
                  h3 Creative Designers
                  p We understand what attracts buyers.
                .item
                  .icon
                    // <i class="flaticon-experts"></i>
                    i.fa-solid.fa-user-group
                  h3 Brand-Focused
                  p Your packaging matches your brand story.
                .item
                  .icon
                    // <i class="flaticon-approach"></i>
                    i.fa-solid.fa-arrow-trend-up
                  h3 Print-Perfect Files
                  p No production issues.
                .item
                  .icon
                    // <i class="flaticon-analysis"></i>
                    i.fa-solid.fa-chart-simple
                  h3 Affordable Pricing
                  p Premium design without high cost.
               
include partials/footer 
      script(type='application/json' data-drupal-selector='drupal-settings-json').
        {"path":{"baseUrl":"\\/","pathPrefix":"","currentPath":"contact","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"","suppressDeprecationErrors":true,"clientside_validation_jquery":{"validate_all_ajax_forms":2,"force_validate_on_blur":false,"force_html5_validation":false,"messages":{"required":"This field is required.","remote":"Please fix this field.","email":"Please enter a valid email address.","url":"Please enter a valid URL.","date":"Please enter a valid date.","dateISO":"Please enter a valid date (ISO).","number":"Please enter a valid number.","digits":"Please enter only digits.","equalTo":"Please enter the same value again.","maxlength":"Please enter no more than {0} characters.","minlength":"Please enter at least {0} characters.","rangelength":"Please enter a value between {0} and {1} characters long.","range":"Please enter a value between {0} and {1}.","max":"Please enter a value less than or equal to {0}.","min":"Please enter a value greater than or equal to {0}.","step":"Please enter a multiple of {0}."},"user":{"uid":0,"permissionsHash":"9582417dfe80a723cf846f43ffbed3652f88ffa08ae3527b795beeabfddfb78f"}
      
      script(src='js/bootstrap.bundle.min.js')
      script(src='js/once.min.js')
      
    
      
      script(src='js/page.js' defer='')
      
     
    
    
     
    
      
      script(src='js/lottie-player.js')
     
      
      script(src='js/global.js')
      script(src='js/custom.js')
     
      
      
    
      script(data-cfasync='false' src='js/js/email-decode.min.js')
     
     
      script(src='js/js/swiper-bundle.min.js')
      script(src='js/js/scrollCue.min.js')
      script(src='js/js/simpleParallax.min.js')
      script(src='js/js/fslightbox.min.js')
    
      
      script(src='js/js/SplitText.min.js')
      script(src='js/js/main.js')
